{
    on_demand_tls {
        ask http://tls-check:5555
        
        burst 5
        interval 2m
    }
}

search.zhdb.io {
    tls {
        on_demand
    }

    reverse_proxy typesense:8108 {
        header_down Strict-Transport-Security max-age=31536000;
    }
}